<!-- tabla general -->
<h3 class="presentacion">Lista de Categorías</h3>
<div class="container">
  <table class="table table-dark table-hover table table-striped table-bordered">
      <thead>
          <tr class="table-dark">
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Disponible</th>
              <th class="accion">Accion</th>
          </tr>
      </thead>
      
      <tbody>
          <tr class="table-dark" *ngFor="let category of categoryList">
              <td class="table-dark">{{category.id}}</td>
              <td class="table-dark">{{category.nombre}}</td>
              <td class="table-dark">{{category.descripcion}}</td>
              <td class="table-dark">
                <span *ngIf="category.disponible === true">Si</span>
                <span *ngIf="category.disponible === false">No</span>
              </td>
              <td class="boton"><button type="button" class="btn btn-outline-light" (click)="delete(category.id)">Eliminar</button></td>
          </tr>
      </tbody>
  </table>
</div>
<!-- fin tabla -->

<!-- Buscar los productos de una categoria -->
<div class="container">
  <h4 class="productoCategoria">Buscar productos de una categoria</h4>
    <div class="input-container">
      <select class="form-select" aria-label="Default select example" [(ngModel)]="categoryID">
        <option *ngFor="let category of categoryList" [value]="category.id">{{ category.id }}</option>
      </select>
      <button type="button" class="btn btn-outline-light" (click)="getProductsByCategory(categoryID)">Buscar Productos</button>
    </div>
</div>
<div class="container">
<table class="table table-dark table-hover table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Disponible</th>
        <th scope="col">Valoración</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of categoryProducts">
        <td>{{ product.id }}</td>
        <td>{{ product.nombre }}</td>
        <td>{{ product.cantidad }}</td>
        <td>{{ product.precio }}</td>
        <td>{{ product.disponible === true ? 'Si' : 'No' }}</td>
        <td>{{ product.valoracion }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- fin Buscar los productos de una categoria -->


<!-- Crear categoria-->
<div class="container-form">
  <form class="mt-4 needs-validation" [formGroup]="categoriaForm" (ngSubmit)="checkFormC();" novalidate>
    <h5 class="h5">Formlario de carga</h5>
    <div class="row mt-3 mb-4" >
        <label for="nombre" class="col-2 col-form-label">Nombre:</label>
        <div class="col-8">
          <input class="form-control" type="text" id="nombre" formControlName="nombre" placeholder="Ingrese el nombre" required>
          
          <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="nombre?.invalid && nombre?.touched && categoriaForm.invalid ">Campo requerido*</small>
          <!--<p style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="nombre?.touched && nombre?.errors.required ">Campo requerido*</p>-->
        </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="descripcion" class="col-2 col-form-label">Descripcion:</label>
      <div class="col-8">
        <input class="form-control" type="text" id="descripcion" formControlName="descripcion" placeholder="Ingrese la descripcion" required>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="descripcion?.invalid && descripcion?.touched && categoriaForm.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <label for="disponible" class="col-2 col-form-label">Disponible:</label>
      <div class="col-8">
        <select class="form-select" formControlName="disponible">
          <option [ngValue]="null" style="color: gray;">Seleccione una opción</option>
          <option [value]="'1'">Activo</option>
          <option [value]="'0'">Inactivo</option>
        </select>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="disponible?.invalid && disponible?.touched && categoriaForm.invalid">Campo requerido*</small>
      </div>
    </div>
    <div class="c">
      <button type="submit" class="btn btn-outline-light">Crear</button>
    </div>

  </form>
</div>
<!-- fin Crear categoria-->

<!-- actualizar categoria-->
<div class="container-form">
  <form class="mt-4 needs-validation" [formGroup]="categoriaUpdate" (ngSubmit)="checkFormU();" novalidate>
    <h5 class="h5">Formlario de actualizacion</h5>

    <div class="row mt-3 mb-4">
      <label for="id" class="col-2 col-form-label">ID:</label>
      <div class="col-8">
        <select class="form-select" id="id" formControlName="id" required>
          <option *ngFor="let category of categoryList" [value]="category.id">{{ category.id }}</option>
        </select>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="id?.invalid && id?.touched && categoriaUpdate.invalid">Campo requerido*</small>
        <!--*ngIf="categoriaUpdate.get('id')?.invalid && categoriaUpdate.get('id')?.touched && categoriaUpdate.invalid"-->
      </div>
    </div>

    <div class="row mt-3 mb-4" >
        <label for="nombre" class="col-2 col-form-label">Nombre:</label>
        <div class="col-8">
          <input class="form-control" type="text" id="nombre" formControlName="nombre" placeholder="Ingrese el nombre" required>
          <small  style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="nombreU?.invalid && nombreU?.touched && categoriaUpdate.invalid">Campo requerido*</small>
        </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="descripcion" class="col-2 col-form-label">Descripcion:</label>
      <div class="col-8">
        <input class="form-control" type="text" id="descripcion" formControlName="descripcion" placeholder="Ingrese la descripcion" required>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="descripcionU?.invalid && descripcionU?.touched && categoriaUpdate.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="disponible" class="col-2 col-form-label">Disponible:</label>
      <div class="col-8">
        <select class="form-select" id="disponible" formControlName="disponible">
          <option [ngValue]="null" style="color: gray;">Seleccione una opción</option>
          <option [value]="'1'">Activo</option>
          <option [value]="'0'">Inactivo</option>
        </select>
        <small style="color: rgb(255, 0, 0);" class="smal" *ngIf="disponibleU?.invalid && disponibleU?.touched && categoriaUpdate.invalid">Campo requerido*</small>
      </div>
    </div>
    <div class="c">
      <button type="submit" class="btn btn-outline-light">Guardar</button>
    </div>
    
  </form>
</div>
<!-- fin actualizar categoria-->


  