<h3 class="presentacion">Lista de Categorías</h3>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Disponible</th>
            <th class="accion">Accion</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let category of categoryList">
            <td>{{category.id}}</td>
            <td>{{category.nombre}}</td>
            <td>{{category.descripcion}}</td>
            <td>
              <span *ngIf="category.disponible === true">Si</span>
            <span *ngIf="category.disponible === false">No</span>
            </td>
            <td class="boton"><button (click)="delete(category.id)">Eliminar</button></td>
        </tr>
    </tbody>
</table>



<div class="container">
  <h3 class="productoCategoria">Buscar productos de una categoria</h3>
    <div class="input-container">
      <select class="selectId" [(ngModel)]="categoryID">
        <option *ngFor="let category of categoryList" [value]="category.id">{{ category.id }}</option>
      </select>
      <button (click)="getProductsByCategory(categoryID)">Buscar Productos</button>
    </div>
</div>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Disponible</th>
        <th>Valoración</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of categoryProducts">
        <td>{{ product.id }}</td>
        <td>{{ product.nombre }}</td>
        <td>{{ product.cantidad }}</td>
        <td>{{ product.precio }}</td>
        <td>{{ product.disponible === true ? 'Si' : 'No' }}</td>
        <td>{{ product.valoracion }}</td>
      </tr>
    </tbody>
  </table>


  <h3 class="crear">Cargar nueva categoria</h3>
  <form [formGroup]="categoriaForm" (ngSubmit)="checkFormC();">
  
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre" placeholder="Ingrese el nombre" required>
    <small class="smal" *ngIf="categoriaForm.get('nombre')?.invalid && categoriaForm.get('nombre')?.touched && categoriaForm.invalid">Campo requerido*</small>

    <label for="descripcion">Descripcion</label>
    <input type="text" id="descripcion" formControlName="descripcion" placeholder="Ingrese la descripcion" required>
    <small class="smal" *ngIf="categoriaForm.get('descripcion')?.invalid && categoriaForm.get('descripcion')?.touched && categoriaForm.invalid">Campo requerido*</small>

    <label for="disponible">Disponible:</label>
    <select class="form-select" formControlName="disponible">
      <option [ngValue]="null" style="color: gray;">Seleccione una opción</option>
      <option [value]="'1'">Activo</option>
      <option [value]="'0'">Inactivo</option>
    </select>
    <small class="smal" *ngIf="categoriaForm.get('disponible')?.invalid && categoriaForm.get('disponible')?.touched && categoriaForm.invalid">Campo requerido*</small>
    

    <button type="submit">Guardar</button>
  </form>



  <h3 class="actualizar">Actualizar categoria</h3>
  <form [formGroup]="categoriaUpdate" (ngSubmit)="checkFormU()">
    <label for="id">ID:</label>
    <select class="id" id="id" formControlName="id" required>
      <option *ngFor="let category of categoryList" [value]="category.id">{{ category.id }}</option>
    </select>
    <small class="smal" *ngIf="categoriaUpdate.get('id')?.invalid && categoriaUpdate.get('id')?.touched && categoriaForm.invalid">Campo requerido*</small>

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre" required>
    <small class="smal" *ngIf="categoriaUpdate.get('nombre')?.invalid && categoriaUpdate.get('nombre')?.touched && categoriaForm.invalid">Campo requerido*</small>
    
    <label for="descripcion">Descripcion</label>
    <input type="text" id="descripcion" formControlName="descripcion" required>
    <small class="smal" *ngIf="categoriaUpdate.get('descripcion')?.invalid && categoriaUpdate.get('descripcion')?.touched && categoriaForm.invalid">Campo requerido*</small>

    <label for="disponible">Disponible:</label>
    <select class="form-select" formControlName="disponible">
      <option [value]="'1'">Activo</option>
      <option [value]="'0'">Inactivo</option>
    </select>
    <small class="smal" *ngIf="categoriaUpdate.get('disponible')?.invalid && categoriaUpdate.get('disponible')?.touched && categoriaForm.invalid">Campo requerido*</small>

    <button type="submit">Guardar</button>
  </form>
  