body {
    background-color: #181818; /* Fondo principal en modo oscuro */
    color: #f9f9f9; /* Color del texto principal en modo oscuro */
  }
  .presentacion{
    margin-left: 6%;
    font-size: 23px;
  }
  .crear{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
  }
  

  .form-select{
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #212121; 
    color: #f9f9f9;
  }
  
  table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);

  }
  
  th, td {
    border: 1px solid #333333; /* Bordes de las celdas en modo oscuro */
    text-align: left;
    padding: 8px;
    color: #f9f9f9; /* Color del texto en modo oscuro */
    padding: 12px;
    text-align: center;
    
  }
  .accion {
    width: 10%; /* Ajusta el ancho según sea necesario */
  }
  
  .boton {
    width: 10%; /* Ajusta el ancho según sea necesario */
  }
  
  
  th {
    background-color: #282828; /* Encabezados de tabla en modo oscuro */
    font-size: 20px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #212121; /* Fondo de filas pares en modo oscuro */
  }
  
  tr:nth-child(odd) {
    background-color: #242424; /* Fondo de filas impares en modo oscuro */
  }
  
  tr:hover {
    background-color: #333333; /* Color de fondo al pasar el cursor sobre una fila en modo oscuro */
  }
  
  tfoot {
    display: table-row-group; 
  }
  
  tfoot td {
    padding: 12px; 
    border: 1px solid #333333; 
  }
  tfoot input{
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
    margin-bottom: 10px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 65px;
    margin: 0 auto;
    align-items: center;
    width: 95%;
    
    
  }
  
  
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .input-container input {
    width: 60%; /* Ajusta el ancho de los campos de entrada al 100% del ancho de la celda */
    margin-bottom: 0px;
    padding: 8px;
    margin-right: 10px;
    box-sizing: border-box;
    
  }
  .productoCategoria{
    
    font-size: 20px;
    padding-left: 60px;
    
    
  }

  .input-container button{
    background-color: #606060;
    color: #f9f9f9;
    border-radius: 7px;
  }
  .input-container button:hover{
    background-color: #333333;
    color: #f9f9f9;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #333333;
    border-radius: 10px;
    background-color: #242424; /* Fondo de la caja del formulario en modo oscuro */
    
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #f9f9f9; /* Color del texto en modo oscuro */
    
  }
  input[type="number"] {
    padding-top: 20px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #212121; /* Fondo de los campos de entrada en modo oscuro */
    color: #f9f9f9; /* Color del texto en modo oscuro */
  }
  
  input[type="text"] {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #212121; /* Fondo de los campos de entrada en modo oscuro */
    color: #f9f9f9; /* Color del texto en modo oscuro */
  }
  
  button {
    padding: 10px 20px;
    background-color: #606060;
    color: #f9f9f9;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333333;
  }
  
  button:active {
    background-color: #272727;
  }
  .selectId{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #212121; /* Fondo de los campos de entrada en modo oscuro */
    color: #f9f9f9;
    margin-right: 20px;
    width: 100px;
  }

  /*Formulario de update*/
  .actualizar{
    font-size: 25px;
    text-align: center;
  }
  .id{
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #212121; /* Fondo de los campos de entrada en modo oscuro */
    color: #f9f9f9;
  }
  .smal{
    font-size: 12px;
    color: rgb(240, 38, 38);
    margin-bottom: 15px;
    text-align: left;
    font-style: italic;
    width: 98%;
  }
  
  


