body {
    background-color: #181818; 
    color: #f9f9f9; 
}
.form-select{
    max-width: 90%;
    width: 150px;
    margin-right: 34px;
    background-color: #181818;
    color: #f9f9f9;
}
.form-select[_ngcontent-ng-c714303078] {
    max-width: 100%;
    width: 150px;
    background-color: #181818;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
}
.col-8{
    display: flex;
    justify-content: center;
}

input{
    background-color: #181818;
    color: #f9f9f9; 
}
.table-dark{
    --bs-table-color: #fff;
      --bs-table-bg: #212121;
      --bs-table-border-color: #ffffff0e;
      --bs-table-striped-bg: #242424;
  }
.input-container{
    display: flex;
    justify-content: end;
    
}
.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.presentacion{
    text-align: center;
    margin-top: 20px;
}

.productoCategoria{
    height: 100%;
}

.container-form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 250px;
    width: 60%;
    background-color: #202020;
    border-radius: 7px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    
}
.container-form .h5{
    text-align: center;
    font-size: 25px;
    margin-bottom: 19px;
}
label{
    margin-left: 20px;
}
.c{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
  



