<!-- Botones para filtrar -->
<div class="button-container">
  <div class="bb">
    <button class="b1" (click)="getAvaible()">Disponibles</button>
    <button  class="b2" (click)="getAll()">Todos los productos</button>
  </div>
  <div class="va">
    <!-- Seleccionar una valoracion-->
    <form class="custom" [formGroup]="productForm1" (ngSubmit)="getValoracion()">
      <select class="custom-select" type='Valoracion' id="valoracion1" formControlName="valoracion1" required>
        <option [value]="Valoracion.Bronce">Bronce</option>
        <option [value]="Valoracion.Platino">Platino</option>
        <option [value]="Valoracion.Oro">Oro</option>
      </select>
    </form>
    <button class="bv" (click)="getValoracion()">Por valoracion</button>
  </div>
</div>
<!-- fin filtros -->


<!-- tabla de productos -->
<div class="container">
<table class="table table-dark table-hover table table-striped table-bordered">
    <thead>
      <tr class="table-dark"  >
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Disponible</th>
        <th scope="col">Valoración</th>
        <th scope="col">Categorías</th>
        <th class="accion">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-dark" *ngFor="let product of productList" (click)="selectProductForUpdate(product)">
        <td >{{product.id}}</td>
        <td>{{ product.nombre }}</td>
        <td >{{ product.cantidad }}</td>
        <td >{{ product.precio }}</td>
        <td>{{ product.disponible === true ? 'Si' : 'No' }}</td>
        <td >{{ product.valoracion }}</td>
        <td >
          <ng-container *ngIf="product.categories && product.categories.length > 0; else noCategories">
            <span *ngFor="let category of product.categories; let isLast = last">
              {{ category.nombre }}{{ isLast ? '' : ', '}}
            </span>
          </ng-container>
          <ng-template #noCategories>
            No hay categorías
          </ng-template>
        </td>
        <td class="boton"><button type="button" class="btn btn-outline-light" (click)="deleteProduct(product.id)">Eliminar</button></td>
      </tr>
    </tbody>  
</table>
</div>
<!-- fin tabla productos -->


<div class="container-form">
  <form class="mt-4 needs-validation" [formGroup]="productForm" (ngSubmit)="checkFormCompletion();" novalidate>
    <h5 class="h5">Formulario de carga</h5>
    <div class="row mt-3 mb-4">
      <label for="nombre" class="col-2 col-form-label">Nombre:</label>
      <div class="col-8">
        <input class="form-control" type="text" id="nombre" formControlName="nombre" placeholder="Porfavor ingrese nombre" required>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="nombre?.invalid && nombre?.touched && productForm.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="cantidad" class="col-2 col-form-label">Cantidad:</label>
      <div class="col-8">
        <input class="form-control" type="number" id="cantidad" formControlName="cantidad" placeholder="Ingrese la cantidad" required>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="cantidad?.invalid && cantidad?.touched && productForm.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="precio" class="col-2 col-form-label">Precio:</label>
      <div class="col-8">
        <input class="form-control" type="number" id="precio" formControlName="precio" placeholder="Ingrese el precio del producto" required>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="precio?.invalid && precio?.touched && productForm.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="disponible" class="col-2 col-form-label">Disponible:</label>
      <div class="col-8">
        <select class="form-select" formControlName="disponible">
          <option [ngValue]="null" style="color: gray;">Seleccione una opción</option>
          <option [value]="'1'">Activo</option>
          <option [value]="'0'">Inactivo</option>
        </select>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="disponible?.invalid && disponible?.touched && productForm.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="valoracion" class="col-2 col-form-label">Valoración:</label>
      <div class="col-8">
        <select class="form-select" formControlName="valoracion">
          <option [ngValue]="null" style="color: gray;">Seleccione una opción</option>
          <option [value]="'Bronce'">Bronce</option>
          <option [value]="'Platino'">Platino</option>
          <option [value]="'Oro'">Oro</option>
        </select>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="productForm.get('valoracion')?.invalid && productForm.get('valoracion')?.touched && productForm.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="categoria" class="col-2 col-form-label">Categoría:</label>
      <div class="col-8">
        <select class="form-select" formControlName="categoria">
          <ng-container *ngIf="productForm.get('categoria') as selectedCategory">
            <option [ngValue]="null" style="color: gray;">Seleccione una opción</option>
            <option *ngFor="let category of categoryList" [value]="category.id" [selected]="selectedCategory.value === category.id">
              {{ category.nombre }}</option>
          </ng-container>
        </select>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="categoria?.invalid && categoria?.touched && productForm.invalid">Campo requerido*</small>
      </div>
    </div>
    <div class="c">
      <button type="submit" class="btn btn-outline-light">Crear</button>
    </div>

  </form>
</div>
<!-- fin formulario crear -->

<!-- Formulario de actualizacion -->
<div class="container-form">
  <form id='updateForm' class="mt-4 needs-validation" [formGroup]="productUpdate" (ngSubmit)="checkFormCompletionU();" novalidate>
    <h5 class="h5">Formulario de actualizacion</h5>

    <div class="row mt-3 mb-4">
      <label for="id" class="col-2 col-form-label">ID:</label>
      <div class="col-8">
        <select class="form-select" id="id" formControlName="id" required>
          <option *ngFor="let product of productListU" [value]="product.id">{{ product.id }}</option>
        </select>
        <small class="smal" *ngIf="id?.invalid && id?.touched && productUpdate.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="nombre" class="col-2 col-form-label">Nombre:</label>
      <div class="col-8">
        <input class="form-control" type="text" id="nombre" formControlName="nombre" placeholder="Porfavor ingrese nombre" required>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="nombreU?.invalid && nombreU?.touched && productUpdate.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="cantidad" class="col-2 col-form-label">Cantidad:</label>
      <div class="col-8">
        <input class="form-control" type="number" id="cantidad" formControlName="cantidad" placeholder="Ingrese la cantidad" required>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="cantidadU?.invalid && cantidadU?.touched && productUpdate.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="precio" class="col-2 col-form-label">Precio:</label>
      <div class="col-8">
        <input class="form-control" type="number" id="precio" formControlName="precio" placeholder="Ingrese el precio del producto" required>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="precioU?.invalid && precioU?.touched && productUpdate.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="disponible" class="col-2 col-form-label">Disponible:</label>
      <div class="col-8">
        <select class="form-select" formControlName="disponible">
          <option [ngValue]="null" style="color: gray;">Seleccione una opción</option>
          <option [value]="'1'">Activo</option>
          <option [value]="'0'">Inactivo</option>
        </select>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="disponibleU?.invalid && disponibleU?.touched && productUpdate.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="valoracion" class="col-2 col-form-label">Valoración:</label>
      <div class="col-8">
        <select class="form-select" formControlName="valoracion">
          <option [ngValue]="null" style="color: gray;">Seleccione una opción</option>
          <option [value]="'Bronce'">Bronce</option>
          <option [value]="'Platino'">Platino</option>
          <option [value]="'Oro'">Oro</option>
        </select>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="valoracionU?.invalid && valoracionU?.touched && productUpdate.invalid">Campo requerido*</small>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <label for="categoria" class="col-2 col-form-label">Categoría:</label>
      <div class="col-8">
        <select class="form-select" formControlName="categoria">
          <ng-container *ngIf="productForm.get('categoria') as selectedCategory">
            <option [ngValue]="null" style="color: gray;">Seleccione una opción</option>
            <option *ngFor="let category of categoryList" [value]="category.id" [selected]="selectedCategory.value === category.id">
              {{ category.nombre }}</option>
          </ng-container>
        </select>
        <small style="color: rgba(255, 0, 0, 0.589);" class="smal" *ngIf="categoriaU?.invalid && categoriaU?.touched && productUpdate.invalid">Campo requerido*</small>
      </div>
    </div>
    <div class="c">
      <button type="submit" class="btn btn-outline-light">Actualizar</button>
    </div>

  </form>
</div>
<!-- fin formulario actualizar -->

